
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.6rem;
}.card-s-kin-wpq {
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem 4.1rem 2rem 2rem;
  width: 100%;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: flex;

  .property-1default-H81 {
    margin: 0rem 4.3rem 3.6rem 0rem;
    width: 32.1rem;
    height: 47rem;
    cursor: pointer;
    flex-shrink: 0;

    .nn-os3 {
      display: flex;
      background-color: #ffffff;
      width: 100%;
      height: 100%;
      align-items: center;
      border-radius: 1.5rem;
      box-sizing: border-box;
      padding: 2.3rem 1.6rem 2rem 1.6rem;
      flex-direction: column;

      .nh-9R7 {
        margin-bottom: 1rem;
        width: 28.9rem;
        height: 28.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .ghi-ch-Tgh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 8.1rem;

        .tn-s-kin-b2D {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .thi-gian-1-1-23-1-1-24-iMj {
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
        }
        .a-im-khch-sn-abc-qx9 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
          font-weight: 300;
        }
        .s-ngi-tham-d-1000-vyb {
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .property-1variant2-nku {
    margin-bottom: 3.6rem;
    width: 32.1rem;
    height: 47rem;
    box-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.7799999714);
    flex-shrink: 0;

    .nn-LXX {
      padding: 2.3rem 1.6rem 2rem 1.6rem;
      width: 100%;
      background-color: #ffffff;
      flex-direction: column;
      border-radius: 1.5rem;
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      display: flex;

      .nh-g5b {
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 28.9rem;
        height: 28.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .ghi-ch-CJq {
        margin-right: 8.1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tn-s-kin-Xru {
          margin-bottom: 1.9rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .thi-gian-1-1-23-1-1-24-fiD {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .a-im-khch-sn-abc-BRf {
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
        }
        .s-ngi-tham-d-1000-HUh {
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}
