
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 74.6rem;
}.card-s-kin-nhn-vin-L13 {
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 12.9rem 2.8rem 4rem 2rem;
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .property-1default-qiV {
    margin-right: 5.6rem;
    width: 32.1rem;
    height: 47rem;
    cursor: pointer;
    flex-shrink: 0;

    .nn-z5b {
      box-sizing: border-box;
      padding: 2.3rem 1.6rem 2rem 1.6rem;
      height: 100%;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      width: 100%;
      display: flex;
      border-radius: 1.5rem;

      .nh-uCZ {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 28.9rem;
        height: 28.3rem;
        object-fit: cover;
      }
      .ghi-ch-CBf {
        margin-left: 1rem;
        width: 27.3rem;
        flex-shrink: 0;

        .auto-group-hji3-YFX {
          margin-bottom: 1.9rem;
          width: 100%;
          display: flex;
          align-items: center;

          .tn-s-kin-h8R {
            margin-right: 4.4rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .id-ch-s-kin-CL5 {
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
        .thi-gian-1-1-23-1-1-24-hnd {
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .a-im-khch-sn-abc-dwB {
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
        }
        .s-ngi-tham-d-1000-mXb {
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .property-1variant2-pEy {
    width: 32.1rem;
    height: 50.8rem;
    box-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.7799999714);
    flex-shrink: 0;

    .nn-NGV {
      height: 48.6rem;
      flex-direction: column;
      box-sizing: border-box;
      padding: 2.3rem 1.6rem 1.5rem 1.6rem;
      width: 100%;
      border-radius: 1.5rem;
      align-items: center;
      display: flex;
      background-color: #ffffff;

      .nh-sj3 {
        width: 28.9rem;
        height: 28.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 1rem;
      }
      .ghi-ch-PhP {
        margin: 0rem 0rem 0.6rem 1rem;
        width: 27.3rem;
        flex-shrink: 0;

        .auto-group-qzwy-izZ {
          margin-bottom: 1.9rem;
          width: 100%;
          display: flex;
          align-items: center;

          .tn-s-kin-5aD {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.4rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
          }
          .id-ch-s-kin-mxq {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .thi-gian-1-1-23-1-1-24-6ER {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .a-im-khch-sn-abc-mbT {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
        }
        .s-ngi-tham-d-1000-seV {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
      .xem-chi-tit-hp-ng-Bv5 {
        font-size: 1.2rem;
        font-weight: 400;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.2rem;
        line-height: 1.2125;
        text-decoration-line: underline;
        color: #409fc7;
      }
    }
  }
}
