
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 102.1rem;
}.chi-tit-s-kin-aRb {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  box-sizing: border-box;
  padding: 1.3rem 0rem 1.2rem 7.1rem;

  .frame-83-Ums {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 2.7rem;
    width: 89.3rem;
    height: 62.9rem;
    align-items: center;

    .frame-67-BwB {
      height: 5rem;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 36.6rem 3rem 36.6rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      width: calc(100% - 73.2rem);
      font-family: Inter, 'Source Sans Pro';
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #409fc7;
    }
    .frame-81-pDT {
      flex-shrink: 0;
      margin-bottom: 2.7rem;
      width: 100%;
      height: 50.2rem;
      display: flex;
      align-items: flex-start;

      .frame-80-Zgq {
        margin-right: 3.2rem;
        width: 34rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .nh-v1b {
          height: 25.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 1rem;
          width: 34rem;
        }
        .frame-79-2qK {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          padding: 2.7rem 2.3rem 2.8rem 1.7rem;
          width: 100%;
          align-items: center;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .frame-70-ZaM {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            width: 100%;
            display: flex;

            .a-im-t-chc-tsX {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .frame-68-DQ1 {
              box-sizing: border-box;
              height: 5.9rem;
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              background-color: rgba(217, 217, 217, 0.4099999964);
              padding: 1rem;
              width: 100%;
              font-size: 1.2rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #000000;
              flex-shrink: 0;
            }
          }
          .frame-70-hpy {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .ghi-ch-GdB {
              font-weight: 400;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
            }
            .frame-68-1am {
              padding: 1rem;
              width: 100%;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
              box-sizing: border-box;
              font-size: 1.2rem;
              font-weight: 400;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              border: solid 0.1rem #000000;
              background-color: rgba(217, 217, 217, 0.4099999964);
              height: 5.9rem;
            }
          }
        }
      }
      .frame-78-UUM {
        width: 52.1rem;
        height: 100%;
        display: flex;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 2.7rem 1.2rem 0rem 1.7rem;
        align-items: flex-end;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .frame-77-Cv9 {
          margin-bottom: 2.6rem;
          width: 100%;
          height: 42.5rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .frame-73-94h {
            height: 100%;
            row-gap: 3rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 7.2rem;
            width: 21rem;

            .frame-69-Usf {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ch-s-hu-3fs {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .frame-68-kaH {
                background-color: rgba(217, 217, 217, 0.4099999964);
                flex-shrink: 0;
                padding: 1rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                width: 100%;
                font-size: 1.2rem;
              }
            }
            .frame-71-fBT {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ngy-bt-u-EEZ {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .frame-68-9cR {
                padding: 1rem;
                font-size: 1.2rem;
                white-space: nowrap;
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                box-sizing: border-box;
                width: 100%;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .frame-72-3Su {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              flex-direction: column;

              .s-ngi-tham-d-QYM {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
              }
              .frame-68-jqX {
                box-sizing: border-box;
                width: 100%;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                padding: 1rem;
                font-size: 1.2rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                background-color: rgba(217, 217, 217, 0.4099999964);
              }
            }
            .frame-73-477 {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ph-pht-vnd-oqP {
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
              }
              .frame-68-jyw {
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                box-sizing: border-box;
                padding: 1rem;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .frame-75-ytH {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .s-d-n-vnd-7jb {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
              .frame-68-THf {
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                color: #000000;
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                box-sizing: border-box;
                padding: 1rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .frame-74-NQd {
            width: 21rem;
            row-gap: 3rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-70-vS9 {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .id-ch-s-hu-t85 {
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-68-1Ch {
                background-color: rgba(217, 217, 217, 0.4099999964);
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1rem;
                line-height: 1.5;
                color: #000000;
                border: solid 0.1rem #000000;
              }
            }
            .frame-72-TaV {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ngy-kt-thc-Cny {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
              }
              .frame-68-vDB {
                width: 100%;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                box-sizing: border-box;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                padding: 1rem;
              }
            }
            .frame-75-SBX {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .tng-chi-ph-vnd-oGy {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .frame-68-LXo {
                white-space: nowrap;
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                padding: 1rem;
                width: 100%;
                line-height: 1.5;
                color: #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                box-sizing: border-box;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .frame-76-1dw {
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .thanh-ton-vnd-n8u {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .frame-68-W4u {
                box-sizing: border-box;
                font-size: 1.2rem;
                white-space: nowrap;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                padding: 1rem;
                width: 100%;
                font-weight: 400;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-l5m5-1XT {
          margin: 0rem 1.4rem 0rem 35.8rem;
          width: calc(100% - 37.2rem);
          height: 2.4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-84-jiM {
            display: flex;
            justify-content: center;
            margin-right: 1.4rem;
            height: 100%;
            font-size: 1.2rem;
            font-weight: 400;
            color: #ffffff;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #e63636;
            flex-shrink: 0;
            width: 5.3rem;
            line-height: 1.2125;
          }
          .frame-85-pzh {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            width: 5.3rem;
            font-size: 1.2rem;
            font-weight: 400;
            justify-content: center;
            background-color: #409fc7;
            flex-shrink: 0;
            height: 100%;
            line-height: 1.2125;
            align-items: center;
          }
        }
      }
    }
    .frame-76-uFT {
      margin: 0rem 42.1rem 0rem 42.2rem;
      width: calc(100% - 84.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-8-SmB {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
      }
      .image-7-ASH {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .image-9-WW9 {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 0.3rem;
  }
}
