
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 217.5rem;
}.chi-tit-s-kin-YAZ {
  box-sizing: border-box;
  padding: 2rem 8.9rem 2rem 2rem;
  width: 100%;
  position: relative;
  align-items: flex-start;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;

  .property-1default-48u {
    background-color: #d9d9d9;
    flex-shrink: 0;
    margin-right: 2.4rem;
    box-sizing: border-box;
    padding: 1.3rem 0rem 1.2rem 7.1rem;
    height: 65.4rem;
    display: flex;
    align-items: center;

    .frame-83-YZs {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.7rem;
      width: 89.3rem;
      height: 100%;

      .frame-67-UCd {
        display: flex;
        width: calc(100% - 73.2rem);
        height: 5rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.5rem;
        line-height: 1.2125;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        white-space: nowrap;
        justify-content: center;
        background-color: #409fc7;
        margin: 0rem 36.6rem 3rem 36.6rem;
      }
      .frame-81-vKX {
        width: 100%;
        height: 50.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 2.7rem;

        .frame-80-fnu {
          width: 34rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 3.2rem;

          .nh-ZNV {
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 34rem;
            height: 25.4rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .frame-79-VG9 {
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 2.7rem 2.3rem 2.8rem 1.7rem;
            width: 100%;
            align-items: center;
            box-sizing: border-box;
            display: flex;
            border-radius: 0.8rem;

            .frame-70-R9o {
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .a-im-t-chc-kSy {
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .frame-68-sXb {
                width: 100%;
                height: 5.9rem;
                font-size: 1.2rem;
                background-color: rgba(217, 217, 217, 0.4099999964);
                flex-shrink: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                padding: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-70-Amb {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              flex-direction: column;

              .ghi-ch-Xs3 {
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-68-sAD {
                flex-shrink: 0;
                padding: 1rem;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                height: 5.9rem;
                line-height: 1.5;
                color: #000000;
                white-space: nowrap;
                background-color: rgba(217, 217, 217, 0.4099999964);
              }
            }
          }
        }
        .frame-78-7qF {
          flex-shrink: 0;
          box-sizing: border-box;
          width: 52.1rem;
          align-items: flex-end;
          flex-direction: column;
          border-radius: 0.8rem;
          padding: 2.7rem 1.2rem 0rem 1.7rem;
          height: 100%;
          display: flex;
          background-color: #ffffff;

          .frame-77-3iu {
            margin-bottom: 2.6rem;
            width: 100%;
            height: 42.5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .frame-73-BaD {
              row-gap: 3rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 7.2rem;
              width: 21rem;
              height: 100%;

              .frame-69-tDj {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;

                .ch-s-hu-3sK {
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .frame-68-asF {
                  font-size: 1.2rem;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                }
              }
              .frame-71-6ah {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ngy-bt-u-Tw3 {
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .frame-68-P41 {
                  font-size: 1.2rem;
                  color: #000000;
                  border: solid 0.1rem #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  flex-shrink: 0;
                  white-space: nowrap;
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .frame-72-rTP {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .s-ngi-tham-d-Doj {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                }
                .frame-68-MQ9 {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  padding: 1rem;
                  width: 100%;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  flex-shrink: 0;
                  box-sizing: border-box;
                  font-weight: 400;
                }
              }
              .frame-73-rbo {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ph-pht-vnd-1jb {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .frame-68-YUd {
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-size: 1.2rem;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  line-height: 1.5;
                  color: #000000;
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                }
              }
              .frame-75-qid {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .s-d-n-vnd-ntm {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .frame-68-vzy {
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  padding: 1rem;
                  width: 100%;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  color: #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  box-sizing: border-box;
                }
              }
            }
            .frame-74-qs3 {
              width: 21rem;
              row-gap: 3rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-70-nXP {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .id-ch-s-hu-MaV {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .frame-68-6HB {
                  color: #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  flex-shrink: 0;
                  padding: 1rem;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  box-sizing: border-box;
                  width: 100%;
                  font-weight: 400;
                }
              }
              .frame-72-Qof {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ngy-kt-thc-A29 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .frame-68-VaD {
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  box-sizing: border-box;
                  padding: 1rem;
                  font-size: 1.2rem;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .frame-75-xTo {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .tng-chi-ph-vnd-Vid {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                }
                .frame-68-CN9 {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem;
                  font-size: 1.2rem;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  border: solid 0.1rem #000000;
                }
              }
              .frame-76-UaZ {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .thanh-ton-vnd-bQH {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                }
                .frame-68-6M3 {
                  box-sizing: border-box;
                  padding: 1rem;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  width: 100%;
                  font-size: 1.2rem;
                  font-weight: 400;
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                }
              }
            }
          }
          .auto-group-s6ew-B7b {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.4rem 0rem 35.8rem;
            width: calc(100% - 37.2rem);
            height: 2.4rem;

            .frame-84-dEV {
              font-size: 1.2rem;
              color: #ffffff;
              background-color: #e63636;
              width: 5.3rem;
              height: 100%;
              white-space: nowrap;
              display: flex;
              align-items: center;
              margin-right: 1.4rem;
              line-height: 1.2125;
              justify-content: center;
              flex-shrink: 0;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
            .frame-85-vzH {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              background-color: #409fc7;
              width: 5.3rem;
              height: 100%;
              font-size: 1.2rem;
              flex-shrink: 0;
              justify-content: center;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
      }
      .frame-76-cs7 {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 42.1rem 0rem 42.2rem;
        width: calc(100% - 84.3rem);
        display: flex;

        .image-8-ANq {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-7-gc5 {
          height: 2rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 2rem;
        }
      }
    }
    .image-9-RpZ {
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .property-1variant2-7hP {
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.3rem 5.7rem 1.2rem 0rem;
    height: 65.4rem;
    display: flex;

    .image-9-SDs {
      height: 3rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.1rem 0.3rem 0rem;
      width: 3rem;
    }
    .frame-83-N7X {
      width: 89.3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-67-JG5 {
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 0rem 36.4rem 3rem 36.4rem;
        width: calc(100% - 72.8rem);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        background-color: #409fc7;
        height: 5rem;
        font-size: 2.5rem;
        line-height: 1.2125;
        align-items: center;
        font-weight: 400;
        color: #ffffff;
        display: flex;
      }
      .frame-81-xrR {
        margin-bottom: 2.7rem;
        width: 100%;
        height: 50.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .frame-80-7UR {
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 34rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .nh-rB7 {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 34rem;
            height: 25.4rem;
            object-fit: cover;
            vertical-align: top;
          }
          .frame-79-aso {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 2.7rem 2.3rem 2.8rem 1.7rem;
            align-items: center;
            border-radius: 0.8rem;
            box-sizing: border-box;

            .frame-70-KaV {
              margin-bottom: 1.8rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .a-im-t-chc-4HB {
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                font-weight: 400;
              }
              .frame-68-mhP {
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
                box-sizing: border-box;
                height: 5.9rem;
                font-size: 1.2rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                padding: 1rem;
                width: 100%;
                line-height: 1.5;
              }
            }
            .frame-70-Eqs {
              flex-shrink: 0;
              width: 100%;
              display: flex;
              flex-direction: column;

              .ghi-ch-QVT {
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
              }
              .frame-68-kJR {
                height: 5.9rem;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                border: solid 0.1rem #000000;
                background-color: rgba(217, 217, 217, 0.4099999964);
                box-sizing: border-box;
                width: 100%;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                padding: 1rem;
                color: #000000;
              }
            }
          }
        }
        .frame-78-EDb {
          box-sizing: border-box;
          width: 52.1rem;
          flex-direction: column;
          border-radius: 0.8rem;
          flex-shrink: 0;
          padding: 2.7rem 1.2rem 0.3rem 1.7rem;
          height: 100%;
          align-items: center;
          display: flex;
          background-color: #ffffff;

          .frame-77-mDX {
            margin-bottom: 2.3rem;
            width: 100%;
            height: 42.5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .frame-73-5zu {
              row-gap: 3rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 7.2rem;
              width: 21rem;
              height: 100%;

              .frame-69-2QM {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ch-s-hu-PVo {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                }
                .frame-68-Xc1 {
                  color: #000000;
                  white-space: nowrap;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  flex-shrink: 0;
                  box-sizing: border-box;
                  width: 100%;
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  border: solid 0.1rem #000000;
                  padding: 1rem;
                  font-size: 1.2rem;
                }
              }
              .frame-71-eRj {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ngy-bt-u-pLD {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .frame-68-Knm {
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  border: solid 0.1rem #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  flex-shrink: 0;
                  white-space: nowrap;
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-size: 1.2rem;
                  font-weight: 400;
                  color: #000000;
                }
              }
              .frame-72-bEV {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .s-ngi-tham-d-MUZ {
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .frame-68-tUV {
                  font-size: 1.2rem;
                  font-weight: 400;
                  color: #000000;
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  flex-shrink: 0;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  background-color: rgba(217, 217, 217, 0.4099999964);
                }
              }
              .frame-73-n45 {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                display: flex;

                .ph-pht-vnd-9QR {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .frame-68-VDP {
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  border: solid 0.1rem #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-weight: 400;
                  font-size: 1.2rem;
                  color: #000000;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .frame-75-ZU9 {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .s-d-n-vnd-W8V {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                }
                .frame-68-qgZ {
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  box-sizing: border-box;
                  padding: 1rem;
                  width: 100%;
                  font-weight: 400;
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  font-size: 1.2rem;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .frame-74-7ty {
              flex-direction: column;
              flex-shrink: 0;
              width: 21rem;
              row-gap: 3rem;
              align-items: center;
              display: flex;

              .frame-70-UDj {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;

                .id-ch-s-hu-1zM {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                }
                .frame-68-MoK {
                  width: 100%;
                  font-size: 1.2rem;
                  font-weight: 400;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 1rem;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .frame-72-Fdo {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;

                .ngy-kt-thc-pB7 {
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .frame-68-xHK {
                  box-sizing: border-box;
                  font-size: 1.2rem;
                  font-weight: 400;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  padding: 1rem;
                  width: 100%;
                  line-height: 1.5;
                  color: #000000;
                }
              }
              .frame-75-efw {
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                display: flex;

                .tng-chi-ph-vnd-1mP {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                }
                .frame-68-MKT {
                  width: 100%;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  line-height: 1.5;
                  color: #000000;
                  border: solid 0.1rem #000000;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                  box-sizing: border-box;
                  padding: 1rem;
                  font-size: 1.2rem;
                  font-weight: 400;
                }
              }
              .frame-76-U9B {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .thanh-ton-vnd-R4R {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 1.2rem;
                }
                .frame-68-A21 {
                  box-sizing: border-box;
                  color: #000000;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  padding: 1rem;
                  width: 100%;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  background-color: rgba(217, 217, 217, 0.4099999964);
                }
              }
            }
          }
          .auto-group-cugw-fjT {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 8.5rem 0rem 28.7rem;
            width: calc(100% - 37.2rem);
            height: 2.4rem;

            .frame-84-Aw7 {
              align-items: center;
              justify-content: center;
              background-color: #e63636;
              flex-shrink: 0;
              width: 5.3rem;
              font-size: 1.2rem;
              display: flex;
              height: 100%;
              font-weight: 400;
              margin-right: 1.4rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              line-height: 1.2125;
              white-space: nowrap;
            }
            .frame-85-TQR {
              justify-content: center;
              background-color: #409fc7;
              width: 5.3rem;
              height: 100%;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              font-size: 1.2rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
            }
          }
        }
      }
      .frame-76-tkd {
        margin: 0rem 42.1rem 0rem 42.2rem;
        width: calc(100% - 84.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-8-PhP {
          margin-right: 1rem;
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .image-7-Y4V {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
