
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.h-s-c-nhn-Qaq {
  background-color: #e6e2e2;
  box-sizing: border-box;
  padding-bottom: 12.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .top-navigation-7k9 {
    background-color: #bfbcbc;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 13.3rem 1.2rem 13rem;
    width: 100%;
    height: 4.5rem;

    .frame-8-D2V {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .social-media-kYD {
        margin: 0.15rem 63.1rem 0.25rem 0rem;
        height: calc(100% - 0.4rem);
        display: flex;
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;

        .fb-ETP {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .x-MH7 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
        }
        .linkedin-HRf {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-6-qCH {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .contact-bBT {
          flex-shrink: 0;
          margin-right: 3.5rem;
          height: 100%;
          display: flex;
          align-items: center;

          .phone-9im {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 2.4rem;

            .image-1-VXj {
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              width: 1.5rem;
            }
            .item-84-987-654-321-DCq {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .mail-KWm {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            height: 100%;

            .image-2-5kq {
              width: 1.5rem;
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.3rem 0.1rem 0rem;
            }
            .htmlgmailcom-owj {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .login-9Eu {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .image-3-Hc1 {
            margin: 0rem 1rem 0.1rem 0rem;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .user-name-oaM {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
    }
  }
  .frame-10-iBX {
    margin-bottom: 1.7rem;
    padding: 0rem 14.8rem 1rem 13.4rem;
    overflow: hidden;
    flex-direction: column;
    background-color: #313131;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;

    .html-event-nx5 {
      margin-bottom: 2.6rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.3;
      color: #ffffff;
      font-family: Notable, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-zjku-8FF {
      width: 100%;
      height: 4.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .button-5gH {
        font-weight: 600;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        width: 11.4rem;
        height: 100%;
        cursor: pointer;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 1rem;
        margin-right: 82.9rem;
        font-size: 1.8rem;
        align-items: center;
        flex-shrink: 0;
        white-space: nowrap;
      }
      .button-88m {
        height: 100%;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        width: 21.5rem;
        line-height: 1.2125;
        white-space: nowrap;
        cursor: pointer;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 1rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .thng-tin-c-nhn-zRs {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 1.4rem 13.5rem;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #000000;
  }
  .auto-group-2ezo-HQy {
    display: flex;
    border: solid 0.2rem #000000;
    border-radius: 1.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.3rem 6.6rem 7.5rem 3.5rem;
    width: calc(100% - 27rem);
    align-items: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0 13.5rem;

    .auto-group-dnr1-QVb {
      height: 39.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 9.7rem;
      width: 100%;

      .frame-35-9TB {
        flex-shrink: 0;
        margin: 0.8rem 4.7rem 0.7rem 0rem;
        height: calc(100% - 1.5rem);
        row-gap: 6.3rem;
        display: flex;
        flex-direction: column;

        .h-v-tn-4q3 {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
        .gii-tnh-PMX {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .date-of-birth-tJH {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .email-Ed3 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .a-ch-Pkq {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-cwxd-8yK {
        position: relative;
        flex-shrink: 0;
        width: 90.1rem;
        height: 100%;

        .frame-36-J77 {
          top: 0.8rem;
          row-gap: 6.3rem;
          display: flex;
          flex-direction: column;
          width: 14.4rem;
          height: 20.1rem;
          position: absolute;
          left: 43rem;

          .tn-ng-nhp-2J1 {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
          .mt-khu-Zoj {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .s-in-thoi-VxH {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .frame-31-qmF {
          left: 0;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 90.1rem;
          height: 39.2rem;
          position: absolute;

          .auto-group-cs8o-y6m {
            padding-bottom: 4.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-ymxw-X8H {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.3rem 4.8rem 0rem;
              width: calc(100% - 0.3rem);
              height: 21.6rem;
              display: flex;

              .auto-group-zwqj-SFF {
                row-gap: 4.8rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 29rem;
                width: 30.4rem;
                height: 100%;

                .frame-29-aMT {
                  position: relative;
                  border: solid 0.1rem #000000;
                  background-color: #d9d9d9;
                  white-space: nowrap;
                  border-radius: 0.6rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  padding: 0.8rem 1.3rem 0.7rem 1.3rem;
                  width: 100%;
                  font-weight: 500;
                  color: #000000;
                  font-size: 2rem;
                }
                .frame-30-rJy {
                  font-size: 2rem;
                  color: #000000;
                  white-space: nowrap;
                  padding: 0.8rem 1.3rem 0.7rem 1.3rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  background-color: #d9d9d9;
                  border-radius: 0.6rem;
                  box-sizing: border-box;
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  border: solid 0.1rem #000000;
                  line-height: 1.2125;
                  flex-shrink: 0;
                }
                .frame-31-4vq {
                  width: 100%;
                  background-color: #d9d9d9;
                  color: #000000;
                  white-space: nowrap;
                  border-radius: 0.6rem;
                  overflow: hidden;
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  box-sizing: border-box;
                  position: relative;
                  padding: 0.8rem 1.3rem 0.7rem 1.3rem;
                  font-family: Inter, 'Source Sans Pro';
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                }
              }
              .frame-37-wUq {
                flex-shrink: 0;
                width: 30.4rem;
                height: 100%;

                .frame-29-66q {
                  border-radius: 0.6rem;
                  width: 100%;
                  font-size: 2rem;
                  margin-bottom: 4.8rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  padding: 0.8rem 1.3rem 0.7rem 1.3rem;
                  position: relative;
                  font-weight: 500;
                  background-color: #d9d9d9;
                }
                .frame-30-Zm7 {
                  background-color: #d9d9d9;
                  border-radius: 0.6rem;
                  box-sizing: border-box;
                  padding: 0.7rem 1.2rem 0.7rem 1.3rem;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  border: solid 0.1rem #000000;
                  margin-bottom: 0.8rem;
                  width: 100%;
                  position: relative;

                  .item--g53 {
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1.2125;
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin: 0.1rem 19.1rem 0rem 0rem;
                  }
                  .image-5-zbX {
                    margin-bottom: 0.1rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .thay-i-mt-khu-4rH {
                  white-space: nowrap;
                  margin-bottom: 1.5rem;
                  cursor: pointer;
                  font-size: 2rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: rgba(0, 0, 0, 0.6700000167);
                  font-family: Inter, 'Source Sans Pro';
                }
                .frame-31-b5X {
                  box-sizing: border-box;
                  position: relative;
                  font-size: 2rem;
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.1rem #000000;
                  border-radius: 0.6rem;
                  width: 100%;
                  line-height: 1.2125;
                  color: #000000;
                  background-color: #d9d9d9;
                  padding: 0.8rem 1.3rem 0.7rem 1.3rem;
                  overflow: hidden;
                }
              }
            }
            .frame-32-4zh {
              width: 30.4rem;
              overflow: hidden;
              line-height: 1.2125;
              border: solid 0.1rem #000000;
              position: relative;
              font-weight: 500;
              color: #000000;
              white-space: nowrap;
              box-sizing: border-box;
              padding: 0.8rem 1.3rem 0.7rem 1.3rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              background-color: #d9d9d9;
              border-radius: 0.6rem;
            }
          }
          .frame-34-UYd {
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
            padding: 0.8rem 1.3rem 0.7rem 1.3rem;
            width: 100%;
            position: relative;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            font-weight: 500;
            border-radius: 0.6rem;
            flex-shrink: 0;
            overflow: hidden;
            line-height: 1.2125;
            white-space: nowrap;
            font-size: 2rem;
          }
        }
      }
    }
    .auto-group-mltd-ZKB {
      margin: 0rem 7.3rem 0rem 83.9rem;
      width: calc(100% - 91.2rem);
      height: 4.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-38-64D {
        margin-right: 3.8rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        background-color: #409fc7;
        width: 5.9rem;
        line-height: 1.2125;
        color: #ffffff;
        border-radius: 1rem;
        font-size: 2rem;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .frame-39-unM {
        font-weight: 800;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 6rem;
        height: 100%;
        white-space: nowrap;
        background-color: #ffffff;
        font-size: 2rem;
        justify-content: center;
      }
    }
  }
}
