
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.h-s-nhn-vin-admin-LR3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #dfdfe1;

  .frame-4-rPP {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 8.1rem 0rem 5.1rem;
    width: 100%;
    height: 8.7rem;

    .frame-3-P8R {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .frame-1-ji5 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 97.7rem;
        box-sizing: border-box;
        padding: 1.85rem 0.15rem 1.85rem 0.55rem;
        height: 100%;
        background-color: #dedbdb;
        border-radius: 1rem;

        .ellipse-1-frd {
          margin-right: 2rem;
          height: 5rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1fb322664c564c5a1d57468c6f37aad071caff9e');
          flex-shrink: 0;
          width: 5rem;
          background-size: 100% 100%;
          background-position: center;
          border-radius: 2.5rem;
        }
        .phm-nht-vng-9G1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .frame-2-psw {
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 0.8rem;
        height: calc(100% - 4.5rem);
        line-height: 1.2125;
        white-space: nowrap;
        justify-content: center;
        width: 8.9rem;
        font-weight: 700;
        align-items: center;
        flex-shrink: 0;
        margin: 2.25rem 0;
        display: flex;
        background-color: #545456;
      }
    }
  }
  .auto-group-lsub-sbK {
    box-sizing: border-box;
    padding: 2.4rem 4.1rem 0.2rem 4.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-1bk9-CtV {
      margin: 0rem 7rem 2.3rem 0rem;
      width: calc(100% - 7rem);
      height: 6.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-h6fu-wLH {
        box-sizing: border-box;
        padding: 0.7rem 49.5rem 0.7rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 1.8rem;
        align-items: center;
        flex-shrink: 0;

        .frame-22-rTF {
          display: flex;
          align-items: center;
          border-radius: 1rem;
          box-sizing: border-box;
          height: 100%;
          cursor: pointer;
          background-color: rgba(156, 215, 241, 0.3700000048);
          flex-shrink: 0;
          padding: 1.7rem 0.9rem 1.6rem 1.665rem;

          .outline-general-home-wzV {
            flex-shrink: 0;
            margin: 0.016rem 1.365rem 0rem 0rem;
            width: 1.6701rem;
            height: 1.8342rem;
            object-fit: contain;
            vertical-align: top;
          }
          .trang-ch-FVP {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #409fc7;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .frame-5-L13 {
          display: flex;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          height: 100%;
          padding: 1.7rem 1rem 1.6rem 1.752rem;
          cursor: pointer;
          background-color: rgba(156, 215, 241, 0.3700000048);
          box-sizing: border-box;

          .outline-interface-add-GfP {
            height: 1.698rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.352rem 0.1rem 0rem;
            width: 1.6953rem;
          }
          .thm-nhn-vin-bhf {
            font-weight: 700;
            line-height: 1.2125;
            color: #409fc7;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
          }
        }
        .frame-21-J6H {
          background-color: rgba(156, 215, 241, 0.3700000048);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.7rem 0.8rem 1.6rem 1.825rem;
          height: 100%;
          display: flex;
          align-items: center;

          .outline-communication-user-qc1 {
            flex-shrink: 0;
            margin: 0rem 1.425rem 0.152rem 0rem;
            width: 1.55rem;
            height: 1.6979rem;
            object-fit: contain;
            vertical-align: top;
          }
          .h-s-nhn-vin-MKT {
            color: #409fc7;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
      }
      .frame-20-eZT {
        justify-content: center;
        width: 27.6rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        background-color: #c6dde7;
        flex-shrink: 0;
      }
    }
    .frame-29-me5 {
      margin: 0rem 5.9rem 0rem 5.8rem;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-shrink: 0;
      width: calc(100% - 11.7rem);
      height: 82.2rem;
      row-gap: 6.5rem;
      align-items: center;
      flex-direction: column;

      .frame-27-HcR {
        width: 100%;
        height: 40rem;
        display: flex;
        column-gap: 13.9rem;
        align-items: center;
        flex-shrink: 0;

        .card-nhn-vin-admin-SER {
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;
          cursor: pointer;

          .nn-b7K {
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

           
            $opacity-transition: opacity $speed ease-in-out;

.model-header {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	height: 16px;
	text-decoration: none;
	width: 16px;

	svg {
		width: 16px;
	}
}

.model-wrapper {
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#model {
	opacity: 0;
	transition: $opacity-transition;
	visibility: hidden;

	&:target {
		opacity: 1;
		visibility: visible;

		.model-body {
			opacity: 1;
			transform: translateY(1);
		}
	}

	.model-body {
		max-width: 500px;
		opacity: 0;
		transform: translateY(-100px);
		transition: $opacity-transition;
		width: 100%;
		z-index: 1;
	}
}

.outside-trigger {
	bottom: 0;
	cursor: default;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.button__link {
	text-decoration: none;
}

          }
        }
        .card-nhn-vin-admin-a7f {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-6bo {
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;

            .nh-mxq {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-hbb {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-fHX {
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .id-nhn-vin-20213991-Zth {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .card-nhn-vin-admin-tRB {
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;

          .nn-eQM {
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .nh-zDK {
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .ghi-ch-i9K {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-UPP {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .id-nhn-vin-20213991-PmF {
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
      .frame-28-Way {
        width: 100%;
        height: 40rem;
        display: flex;
        column-gap: 13.9rem;
        align-items: center;
        flex-shrink: 0;

        .card-nhn-vin-admin-TWD {
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;

          .nn-RC9 {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;

            .nh-ZZF {
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
            }
            .ghi-ch-URK {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-S7F {
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .id-nhn-vin-20213991-NWh {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
              }
            }
          }
        }
        .card-nhn-vin-admin-J9T {
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;
          cursor: pointer;

          .nn-ez1 {
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

            .nh-13s {
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
            }
            .ghi-ch-XH7 {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-rqB {
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .id-nhn-vin-20213991-xtD {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
              }
            }
          }
        }
        .card-nhn-vin-admin-Hfb {
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;

          .nn-SoP {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;

            .nh-a8u {
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
            }
            .ghi-ch-Vmf {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.9rem;
              align-items: center;

              .phm-nht-vng-EUM {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
              }
              .id-nhn-vin-20213991-Aso {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .frame-29-6WZ {
        width: 100%;
        height: 40rem;
        display: flex;
        column-gap: 13.9rem;
        align-items: center;
        flex-shrink: 0;

        .card-nhn-vin-admin-FPT {
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;

          .nn-QXF {
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;

            .nh-w1P {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-Siq {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-Cxu {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .id-nhn-vin-20213991-9dF {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
              }
            }
          }
        }
        .card-nhn-vin-admin-4VK {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-Dd7 {
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;

            .nh-j5f {
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .ghi-ch-Fph {
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .phm-nht-vng-RDP {
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
              }
              .id-nhn-vin-20213991-99P {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
              }
            }
          }
        }
        .card-nhn-vin-admin-FCR {
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;

          .nn-QLD {
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;

            .nh-8GD {
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .ghi-ch-eEZ {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.9rem;
              align-items: center;
              display: flex;

              .phm-nht-vng-nLm {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
              }
              .id-nhn-vin-20213991-j17 {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .frame-30-FEM {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 40rem;
        display: flex;
        column-gap: 13.9rem;

        .card-nhn-vin-admin-oFs {
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;

          .nn-xeZ {
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .nh-JiR {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-SJq {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.9rem;
              align-items: center;

              .phm-nht-vng-oQH {
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
              }
              .id-nhn-vin-20213991-Lv1 {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .card-nhn-vin-admin-RgZ {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-zDs {
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;

            .nh-LHj {
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .ghi-ch-Uuj {
              flex-shrink: 0;
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .phm-nht-vng-DsK {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
                font-size: 1.8rem;
                font-weight: 600;
              }
              .id-nhn-vin-20213991-AXf {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .card-nhn-vin-admin-gF7 {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-EXX {
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2.4rem 1.6rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .nh-kEy {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-hAD {
              flex-shrink: 0;
              margin-right: 9.9rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .phm-nht-vng-e5T {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.9rem;
              }
              .id-nhn-vin-20213991-P33 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
  }
}

