
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-zvH {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .top-navigation-9YH {
    padding: 0.5rem 13.6rem 0.5rem 13rem;
    width: 100%;
    height: 4.5rem;
    background-color: #bfbcbc;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-8-5gq {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .social-media-1qP {
        margin: 1rem 63.1rem 1rem 0rem;
        height: calc(100% - 2rem);
        display: flex;
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;

        .fb-YKX {
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
        }
        .x-VVf {
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
        }
        .linkedin-nDs {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-6-XBT {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .contact-5Cy {
          height: calc(100% - 1.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.85rem 3.5rem 0.75rem 0rem;

          .phone-1sK {
            margin-right: 2.4rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-1-AER {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              width: 1.5rem;
              height: 1.5rem;
              object-fit: cover;
            }
            .item-84-987-654-321-5sB {
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .mail-c6R {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-2-mED {
              margin: 0rem 1.3rem 0.1rem 0rem;
              width: 1.5rem;
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .htmlgmailcom-UeR {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
        .login-pCV {
          height: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-3-BHw {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
          }
          .frame-4-JtM {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7.4rem;
            flex-shrink: 0;
            overflow: hidden;
            font-size: 1.5rem;
            color: #000000;
            white-space: nowrap;
            background-color: #e63636;
            height: 100%;
            position: relative;
            line-height: 1.2125;
          }
        }
      }
    }
  }
  .auto-group-s3yo-AQm {
    width: 100%;
    height: 71.2rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 3.2rem;

    .rectangle-3-uNM {
      left: 0;
      top: 4.3rem;
      background-size: 106.975% 109.689%;
      background-position: -0.6446rem -6.896rem;
      background-image: url('REPLACE_IMAGE:6b491581f98e874a5b97193675ff44b6e3dd0558');
      width: 144rem;
      height: 66.9rem;
      position: relative;
    }
    .frame-10-Q4D {
      box-sizing: border-box;
      padding: 1.1rem 13.5rem 1rem 13.4rem;
      width: 144rem;
      position: absolute;
      top: 0;
      overflow: hidden;
      height: 8.6rem;
      left: 0;
      display: flex;
      align-items: flex-end;
      background-color: #313131;

      .html-event-6Bw {
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.3;
        color: #ffffff;
        font-family: Notable, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 63rem;
      }
      .qun-l-s-kin-pdj {
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-18-9R7 {
      width: 95.4rem;
      height: 36.5rem;
      position: absolute;
      left: 12.6rem;
      top: 19.5rem;

      .qun-l-s-kin-thng-minh-chuyn-nghip-v-d-dng-esf {
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0rem 8.3rem 1.15rem;
        max-width: 84.6rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #f3e033;
      }
      .html-s-mang-ti-cho-qu-khch-hng-nhng-tri-nghim-tt-p-v-thoi-mi-nht-chng-ti-hiu-c-li-ch-ca-qu-khch-chnh-l-s-tn-ti-ca-cng-ty-8nq {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 100%;
        max-width: 95.4rem;
        text-align: center;
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
    .frame-12-8gM {
      cursor: pointer;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      width: 25rem;
      left: 59.5rem;
      align-items: center;
      font-size: 3.2rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-color: #e63636;
      line-height: 1.2125;
      height: 7.8rem;
      position: absolute;
      top: 60.6rem;
      overflow: hidden;
      text-align: center;
    }
  }
  .frame-19-crR {
    flex-shrink: 0;
    margin: 0rem 16.7rem 10.2rem 16rem;
    width: calc(100% - 32.7rem);
    align-items: center;
    display: flex;
    flex-direction: column;

    .frame-11-x9b {
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 5.1rem;
      width: 100%;
      align-items: center;
      display: flex;

      .qun-l-s-kin-html-event-l-ai--QGV {
        white-space: nowrap;
        margin: 0rem 0rem 1.6rem 0.4rem;
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
      }
      .qun-l-s-kin-html-l-cng-ty-chuyn-nghip-trong-lnh-vc-cung-cp-phn-mm-gip-khch-hng-qun-l-s-kin-vi-nhiu-nm-kinh-nghim-i-ng-nhn-vin-ca-chng-ti-l-nhng-chuyn-vin-gii-vi-nhiu-nm-kinh-nghim-trong-lnh-vc-t-chc-s-kin-qun-l-marketingv-xy-dng-thng-hiu-khch-hng-i-tc-ca-chng-ti-l-nhng-doanh-nghip-tp-on-ln-trong-v-ngoi-nc-cng-ty-html-event-tr-thnh-i-tc-ng-tin-cy-ca-cc-doanh-nghip-W4d {
        flex-shrink: 0;
        max-width: 111.3rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .frame-88-i4D {
      margin: 0rem 3.5rem 0rem 4.1rem;
      width: calc(100% - 7.6rem);
      height: 9.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-86-EoF {
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.2rem;
        height: 100%;
        display: flex;

        .image-4-CVB {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
        }
        .frame-14-L5b {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          align-items: center;

          .item-20-VjB {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.2rem 2.1rem 0rem;
            font-size: 3.4rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .nm-kinh-nghim-1Sd {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
          }
        }
      }
      .frame-87-KCR {
        flex-shrink: 0;
        margin-right: 3.4rem;
        height: 100%;
        display: flex;
        align-items: center;

        .image-4-GtM {
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-14-DHo {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-1000-n61 {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.1rem;
            font-size: 3.4rem;
          }
          .khch-hng-tin-dng-hCy {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .frame-88-ECu {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;

        .image-4-zhs {
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-14-iNy {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-5000-Usw {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.2rem 2.1rem 0rem;
            font-size: 3.4rem;
          }
          .s-kin-t-chc-PV7 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .frame-21-WZj {
    width: 100%;
    height: 4rem;
    background-color: #bfbcbc;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 13.5rem 0.5rem 13.5rem;

    .frame-20-EVj {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .social-media-CSZ {
        flex-shrink: 0;
        margin: 0rem 76.1rem 0.4rem 0rem;
        display: flex;
        column-gap: 2.8rem;
        align-items: center;

        .fb-ubs {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
        }
        .x-GBX {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .linkedin-kcV {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .contact-JP7 {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .phone-Tmo {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;
          height: 100%;

          .image-1-dAV {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
          }
          .item-84-987-654-321-YoF {
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .mail-fN5 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-2-2iR {
            flex-shrink: 0;
            margin: 0rem 1.3rem 0.1rem 0rem;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
          }
          .htmlgmailcom-NXP {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
