
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.4rem;
}.phn-loi-9TB {
  padding: 2rem 2rem 15.4rem 2rem;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  border-radius: 0.5rem;

  .property-1default-euj {
    cursor: pointer;
    color: #ffffff;
    height: 4.2rem;
    white-space: nowrap;
    align-items: center;
    background-color: #409fc7;
    flex-shrink: 0;
    width: 21.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    margin: 0rem 3.8rem 2rem 0rem;
    line-height: 1.2125;
    display: flex;
    justify-content: center;
  }
  .property-1expand-Hxh {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 3.8rem;
    padding: 1rem 0rem 0rem 0.1rem;
    width: 21.6rem;
    height: 4.2rem;
    cursor: pointer;
    background-color: rgba(64, 159, 199, 0.3700000048);
    box-sizing: border-box;

    .ngy-din-ra--agu {
      flex-shrink: 0;
      margin: 0rem 0rem 1.1rem 0.1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .list-s-kin-HrD {
      cursor: pointer;
      width: 100%;
      height: 21rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 8.4rem;

      .button-ctV {
        width: 100%;
        height: 4.2rem;
        flex-shrink: 0;
        color: #000000;
        white-space: nowrap;
        display: flex;
        background-color: #ffffff;
        border-radius: 1rem;
        font-size: 1.8rem;
        font-weight: 600;
        justify-content: center;
        cursor: pointer;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;

        .button-ctV-sub-0 {
        }
        .button-ctV-sub-1 {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .button-4P7 {
        cursor: pointer;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        height: 4.2rem;
        line-height: 1.2125;
        background-color: #ffffff;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.8rem;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;

        .button-4P7-sub-0 {
        }
        .button-4P7-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
        }
        .button-4P7-sub-2 {
        }
      }
      .button-dqX {
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 1rem;
        line-height: 1.2125;
        color: #000000;
        height: 4.2rem;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-dqX-sub-0 {
        }
        .button-dqX-sub-1 {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .button-dqX-sub-2 {
        }
      }
    }
  }
}
