
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-l-s-kin-s-kin-ang-din-ra--hsK {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e6e2e2;
  width: 100%;
  overflow: hidden;

  .top-navigation-dFB {
    padding: 1.4rem 13.3rem 1.2rem 13rem;
    width: 100%;
    height: 4.5rem;
    background-color: #bfbcbc;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-8-8hj {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .social-media-J6R {
        column-gap: 2.8rem;
        align-items: center;
        flex-shrink: 0;
        margin: 0.15rem 63.1rem 0.25rem 0rem;
        height: calc(100% - 0.4rem);
        display: flex;

        .fb-paZ {
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
        }
        .x-KXK {
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
        }
        .linkedin-soj {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-6-dH7 {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .contact-z7f {
          align-items: center;
          flex-shrink: 0;
          margin-right: 3.5rem;
          height: 100%;
          display: flex;

          .phone-Yey {
            flex-shrink: 0;
            margin-right: 2.4rem;
            height: 100%;
            display: flex;
            align-items: center;

            .image-1-Wbo {
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              width: 1.5rem;
            }
            .item-84-987-654-321-oqo {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
            }
          }
          .mail-ixm {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-2-Uww {
              flex-shrink: 0;
              margin: 0rem 1.3rem 0.1rem 0rem;
              width: 1.5rem;
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
            }
            .htmlgmailcom-C7F {
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .login-j7B {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-3-6Cd {
            margin: 0rem 1rem 0.1rem 0rem;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .user-name-1Kb {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .frame-10-jmP {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 0rem 14.8rem 1rem 13.4rem;
    width: 100%;
    flex-direction: column;
    background-color: #313131;
    flex-shrink: 0;

    .html-event-H2D {
      cursor: pointer;
      font-size: 5rem;
      color: #ffffff;
      font-family: Notable, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.6rem;
      font-weight: 400;
      line-height: 1.3;
    }
    .auto-group-4rhv-yvd {
      width: 100%;
      height: 4.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .button-Xx9 {
        height: 100%;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        margin-right: 5.4rem;
        width: 11.4rem;
        font-size: 1.8rem;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
      }
      .s-kin-Qm3 {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 56rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        padding: 1rem 0.2rem 1rem 1rem;
        cursor: pointer;

        .tt-c-s-kin-7fT {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .vector-1-ooB {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.5rem;
          height: 0.75rem;
        }
      }
      .button-3Sd {
        flex-shrink: 0;
        cursor: pointer;
        color: #000000;
        align-items: center;
        background-color: #ffffff;
        font-size: 1.8rem;
        white-space: nowrap;
        display: flex;
        border-radius: 1rem;
        width: 21.5rem;
        height: 100%;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        justify-content: center;
      }
    }
  }
  .auto-group-xf8f-3qw {
    padding: 1.3rem 6.9rem 0rem 9.3rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .phn-loi-n2q {
      cursor: pointer;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 4.6rem;
      width: 21.6rem;
      height: 4.2rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      font-weight: 600;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      background-color: #409fc7;
    }
    .auto-group-xsrm-5Gq {
      margin: 0rem 2.5rem 5.9rem 0rem;
      height: 47rem;
      display: flex;
      column-gap: 14.5rem;
      align-items: center;
      flex-shrink: 0;

      .card-s-kin-Nmj {
        width: 32.1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .nn-8W1 {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 1.5rem;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;

          .nh-fkq {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
          }
          .ghi-ch-1Ju {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1rem;

            .tn-s-kin-Z5X {
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .thi-gian-1-1-23-1-1-24-fPT {
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
            }
            .a-im-khch-sn-abc-mxH {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
            }
            .s-ngi-tham-d-1000-6jf {
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .card-s-kin-1Lq {
        width: 32.1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .nn-mL1 {
          box-sizing: border-box;
          border-radius: 1.5rem;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .nh-nW1 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
          }
          .ghi-ch-vcD {
            margin-right: 8.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tn-s-kin-gLV {
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .thi-gian-1-1-23-1-1-24-bTT {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
            }
            .a-im-khch-sn-abc-WKX {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
            }
            .s-ngi-tham-d-1000-pb7 {
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .card-s-kin-7q7 {
        width: 32.1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .nn-UQm {
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          width: 100%;
          height: 100%;
          display: flex;
          border-radius: 1.5rem;

          .nh-zP7 {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .ghi-ch-KAV {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1rem;

            .tn-s-kin-fk9 {
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .thi-gian-1-1-23-1-1-24-1Z7 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
            }
            .a-im-khch-sn-abc-whf {
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .s-ngi-tham-d-1000-FyF {
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .auto-group-cp2j-AKX {
      margin-right: 2.5rem;
      height: 47rem;
      display: flex;
      column-gap: 14.5rem;
      align-items: center;
      flex-shrink: 0;

      .card-s-kin-haM {
        width: 32.1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .nn-26q {
          box-sizing: border-box;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          width: 100%;
          display: flex;
          border-radius: 1.5rem;
          height: 100%;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;

          .nh-X3b {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
          }
          .ghi-ch-fJD {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1rem;
            display: flex;

            .tn-s-kin-1N5 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
            }
            .thi-gian-1-1-23-1-1-24-9UH {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .a-im-khch-sn-abc-H4h {
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .s-ngi-tham-d-1000-CxM {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
      .card-s-kin-WCM {
        width: 32.1rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .nn-dnm {
          height: 100%;
          display: flex;
          border-radius: 1.5rem;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          width: 100%;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;

          .nh-y5w {
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
          }
          .ghi-ch-Jtu {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1rem;

            .tn-s-kin-GKw {
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .thi-gian-1-1-23-1-1-24-CjP {
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .a-im-khch-sn-abc-hRF {
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
            }
            .s-ngi-tham-d-1000-qGZ {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
            }
          }
        }
      }
      .card-s-kin-MEu {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        width: 32.1rem;

        .nn-unD {
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.5rem;
          box-sizing: border-box;
          padding: 2.3rem 1.6rem 2rem 1.6rem;
          width: 100%;
          align-items: center;

          .nh-Sn9 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1rem;
            width: 28.9rem;
            height: 28.3rem;
          }
          .ghi-ch-a7f {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.1rem;

            .tn-s-kin-Kqw {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.9rem;
              font-size: 1.8rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
            }
            .thi-gian-1-1-23-1-1-24-r5B {
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .a-im-khch-sn-abc-ams {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.8rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
            }
            .s-ngi-tham-d-1000-vKw {
              font-weight: 300;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
