
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.qun-l-s-kin-nhn-vin-mNV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e6e2e2;

  .auto-group-hbej-58H {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 17.7rem;

    .top-navigation-RC9 {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #bfbcbc;
      box-sizing: border-box;
      padding: 1.4rem 13.3rem 1.2rem 13rem;
      width: 144rem;
      height: 4.5rem;

      .frame-8-LK7 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .social-media-UAR {
          flex-shrink: 0;
          margin: 0.15rem 63.1rem 0.25rem 0rem;
          height: calc(100% - 0.4rem);
          display: flex;
          column-gap: 2.8rem;
          align-items: center;

          .fb-C6R {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .x-umX {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .linkedin-U3w {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
          }
        }
        .frame-6-cR3 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .contact-aMs {
            margin-right: 3.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .phone-8uB {
              margin-right: 2.4rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .image-1-u9F {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                width: 1.5rem;
                height: 1.5rem;
              }
              .item-84-987-654-321-cpM {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
              }
            }
            .mail-Weq {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .image-2-fGq {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.3rem 0.1rem 0rem;
                width: 1.5rem;
                height: 1.5rem;
              }
              .htmlgmailcom-mqf {
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .login-VWm {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-3-rs7 {
              height: 1.5rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1rem 0.1rem 0rem;
              width: 1.5rem;
            }
            .user-name-mjB {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
      }
    }
    .frame-10-uaV {
      flex-direction: column;
      background-color: #313131;
      box-sizing: border-box;
      padding: 0rem 14.8rem 1rem 13.4rem;
      position: absolute;
      align-items: center;
      display: flex;
      width: 144rem;
      height: 14.3rem;
      left: 0;
      top: 3.4rem;
      overflow: hidden;

      .auto-group-tkaf-CZb {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 3.5rem 2rem 0rem;
        width: calc(100% - 3.5rem);
        display: flex;

        .html-event-Lfo {
          color: #ffffff;
          font-family: Notable, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 57.6rem 0.6rem 0rem;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.3;
        }
        .frame-24-TVX {
          display: flex;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 800;
          color: #ffffff;
          background-color: #409fc7;
          width: 14.4rem;
          height: 5.4rem;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2125;
          white-space: nowrap;
          align-items: center;
        }
      }
      .frame-43-Yms {
        width: 100%;
        height: 4.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-42-Jm3 {
          column-gap: 2.1rem;
          align-items: center;
          flex-shrink: 0;
          margin-right: 39.3rem;
          height: 100%;
          display: flex;

          .trang-ch-QZB {
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            flex-shrink: 0;
            font-weight: 600;
            color: #000000;
            white-space: nowrap;
            border-radius: 1rem;
            height: 100%;
            cursor: pointer;
            align-items: center;
            width: 11.4rem;
            font-size: 1.8rem;
            line-height: 1.2125;
          }
          .khch-hng-JPf {
            line-height: 1.2125;
            cursor: pointer;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 1.8rem;
            font-family: Inter, 'Source Sans Pro';
            width: 14.5rem;
            font-weight: 600;
            color: #000000;
            justify-content: center;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            height: 100%;
          }
          .s-kin-87o {
            background-color: #409fc7;
            height: 100%;
            display: flex;
            justify-content: center;
            font-size: 1.8rem;
            color: #ffffff;
            align-items: center;
            flex-shrink: 0;
            width: 11.4rem;
            font-weight: 600;
            line-height: 1.2125;
            border-radius: 1rem;
            cursor: pointer;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .hp-ng-dKT {
            width: 11.4rem;
            line-height: 1.2125;
            background-color: #ffffff;
            height: 100%;
            cursor: pointer;
            white-space: nowrap;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            border-radius: 1rem;
            flex-shrink: 0;
            color: #000000;
            display: flex;
            align-items: center;
          }
        }
        .h-s-c-nhn-vpM {
          cursor: pointer;
          flex-shrink: 0;
          height: 100%;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 1rem;
          white-space: nowrap;
          justify-content: center;
          background-color: #ffffff;
          line-height: 1.2125;
          color: #000000;
          display: flex;
          align-items: center;
          width: 21.5rem;
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
  }
  .auto-group-19y5-BkH {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 13.3rem 0rem 15.7rem;
    width: 100%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    .frame-25-7dw {
      box-sizing: border-box;
      width: 50.3rem;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.2099999934);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 2rem;
      padding: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
      background-color: #ffffff;
    }
    .frame-91-DS5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 112.5rem;
      position: relative;
      row-gap: 5.9rem;
      align-items: center;
      margin-right: 2.5rem;
      overflow: hidden;

      .frame-44-Yz9 {
        width: 100%;
        height: 47rem;
        display: flex;
        column-gap: 8.1rem;
        align-items: center;
        flex-shrink: 0;

        .card-s-kin-nhn-vin-4hb {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-pAy {
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            height: 100%;

            .nh-kKX {
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
            }
            .ghi-ch-rtM {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-pkcb-LHj {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-gsP {
                  cursor: pointer;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.8rem;
                }
                .id-ch-s-kin-cFF {
                  cursor: pointer;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .thi-gian-1-1-23-1-1-24-x4D {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
              .a-im-khch-sn-abc-5ed {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
              }
              .s-ngi-tham-d-1000-QB7 {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-guK {
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;

          .nn-e5T {
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            flex-direction: column;
            height: 100%;
            align-items: center;
            display: flex;
            background-color: #ffffff;
            border-radius: 1.5rem;

            .nh-BLH {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-WtM {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-mawo-U4V {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-261 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
                .id-ch-s-kin-WWy {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
              }
              .thi-gian-1-1-23-1-1-24-FUZ {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
              }
              .a-im-khch-sn-abc-wMP {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-dzu {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-vDK {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-Tyw {
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            align-items: center;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .nh-PMo {
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
            }
            .ghi-ch-72u {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-xbwh-TcZ {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-1ty {
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .id-ch-s-kin-MT3 {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .thi-gian-1-1-23-1-1-24-swB {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
              .a-im-khch-sn-abc-ctm {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-kk5 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
              }
            }
          }
        }
      }
      .frame-91-3UH {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 47rem;
        display: flex;
        column-gap: 8.1rem;

        .card-s-kin-nhn-vin-y73 {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-KRo {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            height: 100%;
            background-color: #ffffff;
            border-radius: 1.5rem;

            .nh-RUq {
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .ghi-ch-Zb3 {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-qzef-uuo {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 1.9rem;

                .tn-s-kin-qoT {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  cursor: pointer;
                  font-size: 1.8rem;
                  font-family: Inter, 'Source Sans Pro';
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                }
                .id-ch-s-kin-NYV {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  cursor: pointer;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                }
              }
              .thi-gian-1-1-23-1-1-24-7W5 {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
              }
              .a-im-khch-sn-abc-QEH {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-LNq {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-Fkh {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-Qdb {
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            align-items: center;
            flex-direction: column;
            border-radius: 1.5rem;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            background-color: #ffffff;

            .nh-vbw {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-U7f {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-v3md-29B {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-BGy {
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .id-ch-s-kin-Ke5 {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
              }
              .thi-gian-1-1-23-1-1-24-4rZ {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .a-im-khch-sn-abc-1Wu {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
              .s-ngi-tham-d-1000-iAR {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-1QR {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-ZRw {
            display: flex;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            height: 100%;
            align-items: center;
            width: 100%;
            flex-direction: column;
            border-radius: 1.5rem;

            .nh-W6H {
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
            }
            .ghi-ch-eTP {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-mgfv-QBf {
                align-items: center;
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;

                .tn-s-kin-jUq {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                }
                .id-ch-s-kin-5Ho {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .thi-gian-1-1-23-1-1-24-oDo {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
              }
              .a-im-khch-sn-abc-jdF {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
              .s-ngi-tham-d-1000-Tp9 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
            }
          }
        }
      }
      .frame-92-NgD {
        flex-shrink: 0;
        width: 100%;
        height: 47rem;
        display: flex;
        column-gap: 8.1rem;
        align-items: center;

        .card-s-kin-nhn-vin-VVw {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-Qso {
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            background-color: #ffffff;
            border-radius: 1.5rem;

            .nh-9Kb {
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
            }
            .ghi-ch-Hgh {
              flex-shrink: 0;
              margin-left: 1rem;
              width: 27.3rem;

              .auto-group-vgou-3Qy {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-CYm {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  cursor: pointer;
                  color: #000000;
                  white-space: nowrap;
                }
                .id-ch-s-kin-Xqw {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  cursor: pointer;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                }
              }
              .thi-gian-1-1-23-1-1-24-5Mf {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
              }
              .a-im-khch-sn-abc-UPo {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-C4u {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-5eV {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-Qgm {
            display: flex;
            flex-direction: column;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            height: 100%;
            align-items: center;
            background-color: #ffffff;

            .nh-utR {
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .ghi-ch-rYm {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-mjnb-C6q {
                align-items: center;
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;

                .tn-s-kin-Lyj {
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .id-ch-s-kin-dxq {
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .thi-gian-1-1-23-1-1-24-NfX {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .a-im-khch-sn-abc-5pq {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
              }
              .s-ngi-tham-d-1000-pXX {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-jeV {
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;
          cursor: pointer;

          .nn-GPX {
            width: 100%;
            height: 100%;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            display: flex;
            padding: 2.3rem 1.6rem 2rem 1.6rem;

            .nh-oeM {
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
            }
            .ghi-ch-8Aq {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-ybeb-gCM {
                display: flex;
                align-items: center;
                margin-bottom: 1.9rem;
                width: 100%;

                .tn-s-kin-cLu {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                .id-ch-s-kin-we5 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                }
              }
              .thi-gian-1-1-23-1-1-24-Hhw {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .a-im-khch-sn-abc-byX {
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .s-ngi-tham-d-1000-jpq {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
              }
            }
          }
        }
      }
      .frame-90-SUM {
        width: 100%;
        height: 47rem;
        display: flex;
        column-gap: 8.1rem;
        align-items: center;
        flex-shrink: 0;

        .card-s-kin-nhn-vin-Bwj {
          flex-shrink: 0;
          width: 32.1rem;
          height: 100%;
          cursor: pointer;

          .nn-9Nm {
            flex-direction: column;
            background-color: #ffffff;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            display: flex;
            border-radius: 1.5rem;
            box-sizing: border-box;
            height: 100%;
            align-items: center;

            .nh-gdb {
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .ghi-ch-BaM {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-ibhu-Wcd {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 1.9rem;

                .tn-s-kin-Gbo {
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .id-ch-s-kin-ord {
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                }
              }
              .thi-gian-1-1-23-1-1-24-Z57 {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
              .a-im-khch-sn-abc-hBK {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-dKs {
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-j81 {
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;
          width: 32.1rem;

          .nn-Gtd {
            width: 100%;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            height: 100%;
            display: flex;

            .nh-p9T {
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 28.9rem;
            }
            .ghi-ch-MfB {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-ergw-7PT {
                margin-bottom: 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .tn-s-kin-p2y {
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
                .id-ch-s-kin-x9B {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .thi-gian-1-1-23-1-1-24-4xu {
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
              .a-im-khch-sn-abc-Qms {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
              }
              .s-ngi-tham-d-1000-9UZ {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
              }
            }
          }
        }
        .card-s-kin-nhn-vin-4rR {
          width: 32.1rem;
          height: 100%;
          cursor: pointer;
          flex-shrink: 0;

          .nn-22Z {
            padding: 2.3rem 1.6rem 2rem 1.6rem;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 1.5rem;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex-direction: column;

            .nh-MqX {
              margin-bottom: 1rem;
              width: 28.9rem;
              height: 28.3rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .ghi-ch-t4m {
              margin-left: 1rem;
              width: 27.3rem;
              flex-shrink: 0;

              .auto-group-3soq-cFf {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 1.9rem;

                .tn-s-kin-AY5 {
                  margin-right: 4.4rem;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .id-ch-s-kin-tU5 {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #000000;
                }
              }
              .thi-gian-1-1-23-1-1-24-q8R {
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
              }
              .a-im-khch-sn-abc-MMf {
                margin-bottom: 1.8rem;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .s-ngi-tham-d-1000-TvV {
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}
