
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 46.4rem;
}.thay-i-mt-khu-SWH {
  box-sizing: border-box;
  padding: 3.1rem 4.6rem 5.5rem 4.7rem;
  width: 100%;
  height: 47.9rem;
  background-color: #ffffff;
  border-radius: 1.5rem;

  .thay-i-mt-khu-9fb {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .thay-i-mt-khu-53T {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.6rem;
      font-size: 3.5rem;
      font-weight: 700;
    }
    .frame-40-bGh {
      row-gap: 2.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 4.7rem;
      width: 100%;

      .nhp-mt-khu-c-93K {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .mt-khu-c-gJ9 {
          margin-bottom: 0.9rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rectangle-6-1rD {
          width: 100%;
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .nhp-mt-khu-c-8R3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mt-khu-mi-5bB {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .rectangle-6-DhP {
          width: 100%;
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
      .nhp-mt-khu-c-NKP {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .xc-nhn-mt-khu-mi-j9w {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .rectangle-6-qTs {
          width: 100%;
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .frame-41-msK {
      width: calc(100% - 23.4rem);
      height: 3.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 23.4rem;

      .lu-iGm {
        box-sizing: border-box;
        font-size: 2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        background-color: #409fc7;
        flex-shrink: 0;
        margin-right: 3.8rem;
        height: 100%;
        font-weight: 800;
        line-height: 1.2125;
        white-space: nowrap;
        border-radius: 1rem;
        padding: 0.5rem 0.1rem 0.4rem 0.5rem;
      }
      .hy-oZ7 {
        background-color: #ffffff;
        flex-shrink: 0;
        width: 5rem;
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        border-radius: 1rem;
        font-size: 2rem;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
        height: 100%;
        font-weight: 800;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
