
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 114.9rem;
}.thng-tin-khch-hng-rE1 {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.3rem 0.2rem 1.3rem 2.7rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .image-6-mLy {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    opacity: 0.65;
  }
  .frame-66-uTB {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 2.4rem;
    width: 109.6rem;
    align-items: flex-end;

    .frame-64-d8H {
      margin-bottom: 7.1rem;
      width: 100%;
      height: 39.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-63-aJR {
        flex-shrink: 0;
        margin-right: 7.7rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        .frame-47-wPs {
          background-color: #409fc7;
          height: 5rem;
          font-weight: 400;
          color: #ffffff;
          display: flex;
          width: 27.7rem;
          font-size: 2.5rem;
          white-space: nowrap;
          justify-content: center;
          margin-bottom: 5.8rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          line-height: 1.2125;
        }
        .nh-xJy {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 28.9rem;
          height: 28.3rem;
        }
      }
      .frame-58-tTX {
        width: 73rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-vssu-cuK {
          margin-bottom: 3.8rem;
          width: 100%;
          height: 28rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-nnb5-Afw {
            flex-shrink: 0;
            margin-right: 9rem;
            width: 32rem;
            height: 100%;
            row-gap: 3.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .frame-54-qGH {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .h-v-tn-Q4V {
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-48-j6m {
                box-sizing: border-box;
                padding: 1rem;
                font-size: 1.8rem;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                width: 100%;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                background-color: #d9d9d9;
                border-radius: 1rem;
              }
            }
            .frame-56-QTo {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .s-in-thoi-a7P {
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
              }
              .frame-48-5pq {
                width: 100%;
                font-size: 1.8rem;
                line-height: 1.2125;
                border: solid 0.1rem #000000;
                border-radius: 1rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1rem;
                font-weight: 600;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #d9d9d9;
              }
            }
            .frame-57-CPf {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .ngy-thng-nm-sinh-Zk1 {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
              }
              .frame-48-Uc5 {
                box-sizing: border-box;
                padding: 1rem;
                width: 100%;
                font-size: 1.8rem;
                line-height: 1.2125;
                border-radius: 1rem;
                font-weight: 600;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.1rem #000000;
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
            }
          }
          .frame-60-av1 {
            width: 32rem;
            height: 100%;
            row-gap: 3.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .frame-55-iFX {
              flex-direction: column;
              flex-shrink: 0;
              width: 100%;
              display: flex;

              .id-khch-hng-UkV {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
              }
              .frame-48-crh {
                font-weight: 600;
                border: solid 0.1rem #000000;
                border-radius: 1rem;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                box-sizing: border-box;
                padding: 1rem;
                width: 100%;
                font-size: 1.8rem;
                line-height: 1.2125;
                color: #000000;
                background-color: #d9d9d9;
              }
            }
            .frame-57-Hxq {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .email-TcR {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
              }
              .frame-48-zMT {
                font-size: 1.8rem;
                font-family: Inter, 'Source Sans Pro';
                justify-content: center;
                box-sizing: border-box;
                flex-shrink: 0;
                font-weight: 600;
                display: flex;
                align-items: center;
                white-space: nowrap;
                width: 100%;
                height: 4.2rem;
                color: #000000;
                border-radius: 1rem;
                line-height: 1.2125;
                border: solid 0.1rem #000000;
                background-color: #d9d9d9;
              }
            }
            .frame-58-sAM {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .gii-tnh-Qg5 {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
              }
              .frame-48-M5X {
                font-size: 1.8rem;
                font-weight: 600;
                font-family: Inter, 'Source Sans Pro';
                background-color: #d9d9d9;
                box-sizing: border-box;
                padding: 1rem;
                color: #000000;
                white-space: nowrap;
                border: solid 0.1rem #000000;
                border-radius: 1rem;
                flex-shrink: 0;
                width: 100%;
                line-height: 1.2125;
              }
            }
          }
        }
        .frame-59-oiD {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .a-ch-B4Z {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
          }
          .frame-48-v29 {
            box-sizing: border-box;
            padding: 1rem;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            background-color: #d9d9d9;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #000000;
            border-radius: 1rem;
          }
        }
      }
    }
    .frame-65-ptD {
      margin-left: 94.4rem;
      width: calc(100% - 94.4rem);
      height: 4.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-61-YpD {
        flex-shrink: 0;
        margin-right: 4.4rem;
        width: 5.4rem;
        font-weight: 600;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        height: 100%;
        display: flex;
        background-color: #e63636;
      }
      .frame-62-f89 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #409fc7;
        flex-shrink: 0;
        width: 5.4rem;
        font-size: 1.8rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 600;
        line-height: 1.2125;
      }
    }
  }
}
