
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 96.9rem;
}.to-s-kin-PoK {
  height: 58.2rem;
  overflow: hidden;
  position: relative;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem 2rem 3.9rem 2rem;
  width: 100%;

  .property-1default-UJy {
    box-sizing: border-box;
    padding: 2.3rem 3.6rem 3.1rem 3.1rem;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1rem;

    .frame-26-oc9 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .to-s-kin-m3B {
        flex-shrink: 0;
        margin-bottom: 2.6rem;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-25-tdb {
        margin-bottom: 2.7rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tn-s-kin-e6y {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .tn-s-kin-mhP {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            align-items: baseline;
            margin-bottom: 0.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;

            .tn-s-kin-mhP-sub-0 {
            }
            .tn-s-kin-mhP-sub-1 {
              color: #e63636;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .rectangle-6-7uf {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
          }
        }
        .auto-group-vgcj-SS9 {
          padding: 1.2rem 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .line2-PcH {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.3rem 1.2rem 0rem;
            width: calc(100% - 0.3rem);
            height: 5.7rem;

            .id-ch-s-hu-845 {
              margin-right: 11.7rem;
              width: 37.1rem;
              height: 100%;
              flex-shrink: 0;

              .id-ch-s-hu--eHK {
                margin-bottom: 0.9rem;
                font-weight: 400;
                white-space: nowrap;
                font-size: 1.2rem;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                align-items: baseline;

                .id-ch-s-hu--eHK-sub-0 {
                }
                .id-ch-s-hu--eHK-sub-1 {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #e63636;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .rectangle-6-FH7 {
                height: 3rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: #ffffff;
                width: 100%;
              }
            }
            .gii-tnh-BgZ {
              width: 37.1rem;
              height: 100%;
              flex-shrink: 0;

              .s-ngi-tham-d--LpM {
                align-items: baseline;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                color: #e63636;
                display: flex;
                margin-bottom: 0.9rem;
                font-size: 1.2rem;
                font-weight: 400;

                .s-ngi-tham-d--LpM-sub-0 {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #1e1e1e;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .s-ngi-tham-d--LpM-sub-1 {
                }
              }
              .rectangle-6-UJH {
                width: 100%;
                height: 3rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
          }
          .ngy-bt-u-kt-thc-Mcy {
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.3rem;
            width: calc(100% - 0.3rem);
            height: 5.7rem;
            display: flex;

            .ngy-bt-u-Gzq {
              margin-right: 11.7rem;
              width: 37.1rem;
              height: 100%;
              flex-shrink: 0;

              .ngy-bt-u--Cdb {
                margin-bottom: 0.9rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;
                display: flex;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;

                .ngy-bt-u--Cdb-sub-0 {
                }
                .ngy-bt-u--Cdb-sub-1 {
                  color: #e63636;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
              .rectangle-6-BkR {
                box-sizing: border-box;
                background-color: #ffffff;
                width: 100%;
                height: 3rem;
                border: solid 0.1rem #000000;
              }
            }
            .ngy-kt-thc-8Qm {
              width: 37.1rem;
              height: 100%;
              flex-shrink: 0;

              .ngy-kt-thc--rLm {
                font-weight: 400;
                color: #000000;
                margin-bottom: 0.9rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                font-size: 1.2rem;

                .ngy-kt-thc--rLm-sub-0 {
                }
                .ngy-kt-thc--rLm-sub-1 {
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #e63636;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .rectangle-6-3g9 {
                width: 100%;
                height: 3rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
          }
        }
        .a-im-t-chc-zLV {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .a-im-t-chc-L9T {
            margin-bottom: 0.9rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            display: flex;
            font-size: 1.2rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;

            .a-im-t-chc-L9T-sub-0 {
            }
            .a-im-t-chc-L9T-sub-1 {
              color: #e63636;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .rectangle-6-tqB {
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
        .a-im-t-chc-bDo {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .ghi-ch-Lx5 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
          }
          .rectangle-6-5uf {
            height: 3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 100%;
          }
        }
      }
      .auto-group-91b1-2a1 {
        margin-right: 66.9rem;
        width: calc(100% - 66.9rem);
        height: 4.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .to-Zpq {
          margin-right: 7.9rem;
          width: 5.7rem;
          height: 100%;
          font-size: 2rem;
          white-space: nowrap;
          align-items: center;
          border-radius: 1rem;
          font-weight: 500;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          background-color: #409fc7;
        }
        .hy-fcy {
          background-color: #ffffff;
          flex-shrink: 0;
          line-height: 1.2125;
          color: #000000;
          border-radius: 1rem;
          font-size: 2rem;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #000000;
          width: 5.7rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
        }
      }
    }
  }
}
