
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.9rem;
}.to-s-kin-JMj {
  box-sizing: border-box;
  padding: 2.3rem 3.6rem 3.1rem 3.1rem;
  width: 100%;
  height: 52.3rem;
  background-color: #ffffff;
  border-radius: 1rem;

  .frame-26-RBT {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .to-s-kin-xx5 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.6rem;
      font-size: 3.5rem;
      font-weight: 700;
    }
    .frame-25-U9j {
      flex-shrink: 0;
      margin-bottom: 2.7rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .tn-s-kin-PXb {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .tn-s-kin-kN9 {
          font-size: 1.2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          margin-bottom: 0.9rem;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.5;

          .tn-s-kin-kN9-sub-0 {
          }
          .tn-s-kin-kN9-sub-1 {
            font-weight: 400;
            line-height: 1.5;
            color: #e63636;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
        .rectangle-6-erq {
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
      }
      .auto-group-vee7-C7f {
        box-sizing: border-box;
        padding: 1.2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .line2-jtH {
          margin: 0rem 0.3rem 1.2rem 0rem;
          width: calc(100% - 0.3rem);
          height: 5.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .id-ch-s-hu-5qf {
            height: 100%;
            flex-shrink: 0;
            margin-right: 11.7rem;
            width: 37.1rem;

            .id-ch-s-hu--pHT {
              line-height: 1.5;
              color: #000000;
              margin-bottom: 0.9rem;
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              font-size: 1.2rem;
              font-family: Poppins, 'Source Sans Pro';

              .id-ch-s-hu--pHT-sub-0 {
              }
              .id-ch-s-hu--pHT-sub-1 {
                font-weight: 400;
                line-height: 1.5;
                color: #e63636;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
              }
            }
            .rectangle-6-AVj {
              width: 100%;
              height: 3rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
            }
          }
          .gii-tnh-uTK {
            width: 37.1rem;
            height: 100%;
            flex-shrink: 0;

            .s-ngi-tham-d--Qey {
              margin-bottom: 0.9rem;
              font-weight: 400;
              color: #e63636;
              white-space: nowrap;
              display: flex;
              font-size: 1.2rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              align-items: baseline;

              .s-ngi-tham-d--Qey-sub-0 {
                font-weight: 400;
                line-height: 1.5;
                color: #1e1e1e;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
              }
              .s-ngi-tham-d--Qey-sub-1 {
              }
            }
            .rectangle-6-AXf {
              background-color: #ffffff;
              width: 100%;
              height: 3rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
            }
          }
        }
        .ngy-bt-u-kt-thc-5Pj {
          margin-right: 0.3rem;
          width: calc(100% - 0.3rem);
          height: 5.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ngy-bt-u-bss {
            margin-right: 11.7rem;
            width: 37.1rem;
            height: 100%;
            flex-shrink: 0;

            .ngy-bt-u--MMF {
              align-items: baseline;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              line-height: 1.5;
              color: #000000;
              white-space: nowrap;
              display: flex;
              margin-bottom: 0.9rem;
              font-size: 1.2rem;

              .ngy-bt-u--MMF-sub-0 {
              }
              .ngy-bt-u--MMF-sub-1 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #e63636;
              }
            }
            .rectangle-6-un5 {
              width: 100%;
              height: 3rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
            }
          }
          .ngy-kt-thc-rxD {
            width: 37.1rem;
            height: 100%;
            flex-shrink: 0;

            .ngy-kt-thc--p8M {
              font-size: 1.2rem;
              color: #000000;
              display: flex;
              align-items: baseline;
              white-space: nowrap;
              margin-bottom: 0.9rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';

              .ngy-kt-thc--p8M-sub-0 {
              }
              .ngy-kt-thc--p8M-sub-1 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #e63636;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .rectangle-6-ESy {
              width: 100%;
              height: 3rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
            }
          }
        }
      }
      .a-im-t-chc-yQZ {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.2rem;

        .a-im-t-chc-id3 {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          display: flex;
          margin-bottom: 0.9rem;
          font-size: 1.2rem;
          align-items: baseline;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;

          .a-im-t-chc-id3-sub-0 {
          }
          .a-im-t-chc-id3-sub-1 {
            line-height: 1.5;
            color: #e63636;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .rectangle-6-7v5 {
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;
        }
      }
      .a-im-t-chc-Ezh {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ghi-ch-kCM {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .rectangle-6-61K {
          width: 100%;
          height: 3rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-vbmd-dX3 {
      align-items: center;
      flex-shrink: 0;
      margin-right: 66.9rem;
      width: calc(100% - 66.9rem);
      height: 4.4rem;
      display: flex;

      .to-NUd {
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        height: 100%;
        margin-right: 7.9rem;
        white-space: nowrap;
        background-color: #409fc7;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 5.7rem;
        font-weight: 500;
        color: #ffffff;
        align-items: center;
        justify-content: center;
      }
      .hy-GK7 {
        white-space: nowrap;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 5.7rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
      }
    }
  }
}
