
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 217.5rem;
}.chi-tit-s-kin-s4q {
  box-sizing: border-box;
  padding: 2rem 8.9rem 2rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.chi-tit-s-kin-s4q .property-1default-9o3 {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 1.3rem 0rem 1.2rem 7.1rem;
  height: 65.4rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX {
  margin-right: 2.7rem;
  width: 89.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-67-Dnu {
  margin: 0rem 36.6rem 3rem 36.6rem;
  width: calc(100% - 73.2rem);
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 50.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo {
  margin-right: 3.2rem;
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .nh-zx5 {
  margin-bottom: 1rem;
  width: 34rem;
  height: 25.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs {
  box-sizing: border-box;
  padding: 2.7rem 2.3rem 2.8rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-eFw {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-eFw .a-im-t-chc-1MP {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-eFw .frame-68-6Nq {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-Psj {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-Psj .ghi-ch-jRo {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-80-FDo .frame-79-Jhs .frame-70-Psj .frame-68-UPP {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 {
  box-sizing: border-box;
  padding: 2.7rem 1.2rem 0rem 1.7rem;
  width: 52.1rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 42.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV {
  margin-right: 7.2rem;
  width: 21rem;
  height: 100%;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-69-xSy {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-69-xSy .ch-s-hu-veh {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-69-xSy .frame-68-s49 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-71-BKj {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-71-BKj .ngy-bt-u-vo7 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-71-BKj .frame-68-F4h {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-72-k1T {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-72-k1T .s-ngi-tham-d-uuw {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-72-k1T .frame-68-4H3 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-73-N2q {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-73-N2q .ph-pht-vnd-W93 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-73-N2q .frame-68-otq {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-75-8RK {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-75-8RK .s-d-n-vnd-gBw {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-73-DEV .frame-75-8RK .frame-68-xv9 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT {
  width: 21rem;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-70-G3f {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-70-G3f .id-ch-s-hu-11F {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-70-G3f .frame-68-igM {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-72-qW5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-72-qW5 .ngy-kt-thc-CrR {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-72-qW5 .frame-68-7yP {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-75-eCd {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-75-eCd .tng-chi-ph-vnd-1Yy {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-75-eCd .frame-68-7ru {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-76-3Vf {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-76-3Vf .thanh-ton-vnd-DQ9 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .frame-77-req .frame-74-yKT .frame-76-3Vf .frame-68-wb3 {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .auto-group-dzpr-RFK {
  margin: 0rem 1.4rem 0rem 35.8rem;
  width: calc(100% - 37.2rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .auto-group-dzpr-RFK .frame-84-M8y {
  margin-right: 1.4rem;
  width: 5.3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63636;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-81-VkR .frame-78-7x9 .auto-group-dzpr-RFK .frame-85-Tho {
  width: 5.3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-76-94q {
  margin: 0rem 42.1rem 0rem 42.2rem;
  width: calc(100% - 84.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-76-94q .image-8-gaZ {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .frame-83-UKX .frame-76-94q .image-7-dVo {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1default-9o3 .image-9-kKX {
  margin-bottom: 0.3rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 {
  box-sizing: border-box;
  padding: 1.3rem 5.7rem 1.2rem 0rem;
  height: 65.4rem;
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .image-9-NLu {
  margin: 0rem 4.1rem 0.3rem 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM {
  width: 89.3rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-67-FvV {
  margin: 0rem 36.4rem 3rem 36.4rem;
  width: calc(100% - 72.8rem);
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 50.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV {
  margin-right: 3.2rem;
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .nh-c8m {
  margin-bottom: 1rem;
  width: 34rem;
  height: 25.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV {
  box-sizing: border-box;
  padding: 2.7rem 2.3rem 2.8rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-FSd {
  margin-bottom: 1.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-FSd .a-im-t-chc-oyw {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-FSd .frame-68-LDB {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-pu3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-pu3 .ghi-ch-b97 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-80-rQV .frame-79-ixV .frame-70-pu3 .frame-68-XoT {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 5.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj {
  box-sizing: border-box;
  padding: 2.7rem 1.2rem 0.3rem 1.7rem;
  width: 52.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 42.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P {
  margin-right: 7.2rem;
  width: 21rem;
  height: 100%;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-69-GwP {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-69-GwP .ch-s-hu-2Qm {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-69-GwP .frame-68-Zfb {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-71-sRP {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-71-sRP .ngy-bt-u-pLd {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-71-sRP .frame-68-ZJD {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-72-ro7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-72-ro7 .s-ngi-tham-d-R5X {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-72-ro7 .frame-68-XPT {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-73-quw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-73-quw .ph-pht-vnd-o65 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-73-quw .frame-68-7cZ {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-75-qYZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-75-qYZ .s-d-n-vnd-bnd {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-73-Z1P .frame-75-qYZ .frame-68-jtq {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT {
  width: 21rem;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-70-p9b {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-70-p9b .id-ch-s-hu-mKj {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-70-p9b .frame-68-JKf {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-72-DhX {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-72-DhX .ngy-kt-thc-BuF {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-72-DhX .frame-68-uaM {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-75-inh {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-75-inh .tng-chi-ph-vnd-gzR {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-75-inh .frame-68-1Wu {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-76-LJH {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-76-LJH .thanh-ton-vnd-uMP {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .frame-77-Dy7 .frame-74-ryT .frame-76-LJH .frame-68-d2V {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0.4099999964);
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .auto-group-bcmq-k77 {
  margin: 0rem 8.5rem 0rem 28.7rem;
  width: calc(100% - 37.2rem);
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .auto-group-bcmq-k77 .frame-84-UYu {
  margin-right: 1.4rem;
  width: 5.3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63636;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-81-W5j .frame-78-Ksj .auto-group-bcmq-k77 .frame-85-bdX {
  width: 5.3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-76-64V {
  margin: 0rem 42.1rem 0rem 42.2rem;
  width: calc(100% - 84.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-76-64V .image-8-q25 {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.chi-tit-s-kin-s4q .property-1variant2-4r1 .frame-83-JkM .frame-76-64V .image-7-xMb {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
