
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-page-y8h {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-page-y8h .top-navigation-uHF {
  box-sizing: border-box;
  padding: 0.5rem 13.6rem 0.5rem 13rem;
  width: 100%;
  height: 4.5rem;
  background-color: #bfbcbc;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .social-media-PCR {
  margin: 1rem 63.1rem 1rem 0rem;
  height: calc(100% - 2rem);
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .social-media-PCR .fb-WH3 {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .social-media-PCR .x-QtD {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .social-media-PCR .linkedin-a21 {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df {
  margin: 0.85rem 3.5rem 0.85rem 0rem;
  height: calc(100% - 1.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .phone-CJH {
  margin-right: 2.4rem;
  height: 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .phone-CJH .image-1-j3K {
  margin-bottom: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .phone-CJH .item-84-987-654-321-UFo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .mail-NMB {
  height: 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .mail-NMB .image-2-ivq {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .contact-5Df .mail-NMB .htmlgmailcom-f5P {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .login-CLD {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .login-CLD .image-3-vn1 {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .top-navigation-uHF .frame-8-E4d .frame-6-KVP .login-CLD .frame-4-H6m {
  width: 7.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63636;
  flex-shrink: 0;
}
.home-page-y8h .auto-group-pex3-jzM {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 71.2rem;
  position: relative;
  flex-shrink: 0;
}
.home-page-y8h .auto-group-pex3-jzM .rectangle-3-tMT {
  width: 144rem;
  height: 66.9rem;
  position: relative;
  left: 0;
  top: 4.3rem;
  background-size: 106.975% 109.689%;
  background-position: -0.6446rem -6.896rem;
  background-image: url('../assets/rectangle-3.png');
}
.home-page-y8h .auto-group-pex3-jzM .frame-10-kPf {
  box-sizing: border-box;
  padding: 1.1rem 13.5rem 1rem 13.4rem;
  width: 144rem;
  height: 8.6rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  background-color: #313131;
}
.home-page-y8h .auto-group-pex3-jzM .frame-10-kPf .html-event-eE9 {
  margin-right: 63rem;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
  font-family: Notable, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .auto-group-pex3-jzM .frame-10-kPf .qun-l-s-kin-BE5 {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .auto-group-pex3-jzM .frame-18-etM {
  width: 95.4rem;
  height: 36.5rem;
  position: absolute;
  left: 12.6rem;
  top: 19.5rem;
}
.home-page-y8h .auto-group-pex3-jzM .frame-18-etM .qun-l-s-kin-thng-minh-chuyn-nghip-v-d-dng-Pqw {
  margin: 0rem 0rem 8.3rem 1.15rem;
  max-width: 84.6rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #f3e033;
  font-family: Inter, 'Source Sans Pro';
}
.home-page-y8h .auto-group-pex3-jzM .frame-18-etM .html-s-mang-ti-cho-qu-khch-hng-nhng-tri-nghim-tt-p-v-thoi-mi-nht-chng-ti-hiu-c-li-ch-ca-qu-khch-chnh-l-s-tn-ti-ca-cng-ty-4x5 {
  width: 100%;
  max-width: 95.4rem;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.home-page-y8h .auto-group-pex3-jzM .frame-12-tRK {
  width: 25rem;
  height: 7.8rem;
  cursor: pointer;
  position: absolute;
  left: 59.5rem;
  top: 60.6rem;
  overflow: hidden;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63636;
}
.home-page-y8h .frame-19-ZXT {
  margin: 0rem 16.7rem 10.2rem 16rem;
  width: calc(100% - 32.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-11-u5X {
  margin-bottom: 5.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-11-u5X .qun-l-s-kin-html-event-l-ai--f4h {
  margin: 0rem 0rem 1.6rem 0.4rem;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-11-u5X .qun-l-s-kin-html-l-cng-ty-chuyn-nghip-trong-lnh-vc-cung-cp-phn-mm-gip-khch-hng-qun-l-s-kin-vi-nhiu-nm-kinh-nghim-i-ng-nhn-vin-ca-chng-ti-l-nhng-chuyn-vin-gii-vi-nhiu-nm-kinh-nghim-trong-lnh-vc-t-chc-s-kin-qun-l-marketingv-xy-dng-thng-hiu-khch-hng-i-tc-ca-chng-ti-l-nhng-doanh-nghip-tp-on-ln-trong-v-ngoi-nc-cng-ty-html-event-tr-thnh-i-tc-ng-tin-cy-ca-cc-doanh-nghip-iYm {
  max-width: 111.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX {
  margin: 0rem 3.5rem 0rem 4.1rem;
  width: calc(100% - 7.6rem);
  height: 9.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-86-q9X {
  margin-right: 3.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-86-q9X .image-4-BjB {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-86-q9X .frame-14-X2M {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-86-q9X .frame-14-X2M .item-20-HXK {
  margin: 0rem 0.2rem 2.1rem 0rem;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-86-q9X .frame-14-X2M .nm-kinh-nghim-zRj {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-87-isX {
  margin-right: 3.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-87-isX .image-4-gZT {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-87-isX .frame-14-RX3 {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-87-isX .frame-14-RX3 .item-1000-PTs {
  margin-bottom: 2.1rem;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-87-isX .frame-14-RX3 .khch-hng-tin-dng-j1w {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-88-4a1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-88-4a1 .image-4-nW1 {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-88-4a1 .frame-14-s1f {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-88-4a1 .frame-14-s1f .item-5000-qDP {
  margin: 0rem 0.2rem 2.1rem 0rem;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-19-ZXT .frame-88-XuX .frame-88-4a1 .frame-14-s1f .s-kin-t-chc-w1X {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR {
  box-sizing: border-box;
  padding: 1.6rem 13.5rem 0.5rem 13.5rem;
  width: 100%;
  height: 4rem;
  background-color: #bfbcbc;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .social-media-UvZ {
  margin: 0rem 76.1rem 0.4rem 0rem;
  display: flex;
  column-gap: 2.8rem;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .social-media-UvZ .fb-aTo {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .social-media-UvZ .x-LC5 {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .social-media-UvZ .linkedin-fk9 {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .phone-PAM {
  margin-right: 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .phone-PAM .image-1-hgq {
  margin-bottom: 0.1rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .phone-PAM .item-84-987-654-321-SuK {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .mail-nCV {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .mail-nCV .image-2-YhT {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-page-y8h .frame-21-fCR .frame-20-bbs .contact-Dmf .mail-nCV .htmlgmailcom-5xH {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.blur-bg-overlay{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition : 0.1s ease;
}

.show-popup .blur-bg-overlay{
  opacity: 1;
  pointer-events: auto;
}

.form-popup{
  position: fixed;
  max-width: 720px;
  width:100%;
  top :50%;
  left :50%;
  opacity: 0;
  pointer-events: none;
  background: #ffffff;
  border : 2px solid #ffffff;
  transform: translate(-50%, -50%);
}
.show-popup .form-popup{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn{
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.form-popup .form-box{
  display : flex;

}

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}