
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 21.5rem;
}.list-s-kin-S6q {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}
.list-s-kin-S6q .button-MzV {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.list-s-kin-S6q .button-sT3 {
  width: 100%;
  height: 4.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.list-s-kin-S6q .button-8Ny {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.list-s-kin-S6q .button-Rcy {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.list-s-kin-S6q .button-YxV {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
