
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.9rem;
}.thng-tin-khch-hng-Wf7 {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 64.9rem;
  overflow: hidden;
  position: relative;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim {
  box-sizing: border-box;
  padding: 0.3rem 0.2rem 1.3rem 2.7rem;
  width: 100%;
  height: 56rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .image-6-Nqj {
  opacity: 0.65;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 {
  margin-right: 2.4rem;
  width: 109.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 {
  margin-bottom: 7.1rem;
  width: 100%;
  height: 39.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-63-aB7 {
  margin-right: 7.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-63-aB7 .frame-47-Xs3 {
  margin-bottom: 5.8rem;
  width: 27.7rem;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-63-aB7 .nh-bru {
  width: 28.9rem;
  height: 28.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 {
  width: 73rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 {
  margin-bottom: 3.8rem;
  width: 100%;
  height: 28rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm {
  margin-right: 9rem;
  width: 32rem;
  height: 100%;
  row-gap: 3.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-54-ngV {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-54-ngV .h-v-tn-xL5 {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-54-ngV .frame-48-rgM {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-56-LbX {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-56-LbX .s-in-thoi-VzD {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-56-LbX .frame-48-bnM {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-57-szm {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-57-szm .ngy-thng-nm-sinh-Sny {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .auto-group-mlsm-FAm .frame-57-szm .frame-48-Zch {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 {
  width: 32rem;
  height: 100%;
  row-gap: 3.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-55-B8H {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-55-B8H .id-khch-hng-957 {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-55-B8H .frame-48-HBK {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-57-NiZ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-57-NiZ .email-Yd3 {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-57-NiZ .frame-48-H4q {
  width: 100%;
  height: 4.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-58-kj7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-58-kj7 .gii-tnh-vNh {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .auto-group-rosr-tr1 .frame-60-ee9 .frame-58-kj7 .frame-48-fLH {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .frame-59-9FT {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .frame-59-9FT .a-ch-7CH {
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-64-Rp1 .frame-58-wA5 .frame-59-9FT .frame-48-FJV {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #d9d9d9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-65-m1w {
  margin-left: 94.4rem;
  width: calc(100% - 94.4rem);
  height: 4.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-65-m1w .frame-61-5oK {
  margin-right: 4.4rem;
  width: 5.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63636;
  flex-shrink: 0;
}
.thng-tin-khch-hng-Wf7 .property-1default-Tim .frame-66-5k9 .frame-65-m1w .frame-62-NXX {
  width: 5.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  flex-shrink: 0;
}
