
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 92.9rem;
}.to-h-s-nhn-vin-1uw {
  box-sizing: border-box;
  padding: 2.3rem 3.6rem 1.5rem 3.1rem;
  width: 100%;
  height: 44.2rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .to-nhn-vin-pMb {
  margin-bottom: 2.6rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d {
  margin-bottom: 2.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D {
  box-sizing: border-box;
  padding-bottom: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF {
  margin: 0rem 0.3rem 1.2rem 0rem;
  width: calc(100% - 0.3rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .h-v-tn-9oB {
  margin-right: 11.7rem;
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .h-v-tn-9oB .h-v-tn--JRB {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .h-v-tn-9oB .h-v-tn--JRB .h-v-tn--JRB-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .h-v-tn-9oB .h-v-tn--JRB .h-v-tn--JRB-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .h-v-tn-9oB .rectangle-6-s6u {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .gii-tnh-nDs {
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .gii-tnh-nDs .gii-tnh--LWH {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .gii-tnh-nDs .gii-tnh--LWH .gii-tnh--LWH-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e1e1e;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .gii-tnh-nDs .gii-tnh--LWH .gii-tnh--LWH-sub-1 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line1-3VF .gii-tnh-nDs .rectangle-6-NC5 {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .st-DyP {
  margin-right: 11.7rem;
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .st-DyP .s-in-thoi--BQR {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .st-DyP .s-in-thoi--BQR .s-in-thoi--BQR-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .st-DyP .s-in-thoi--BQR .s-in-thoi--BQR-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .st-DyP .rectangle-6-6vh {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .email-cPF {
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .email-cPF .email--M5w {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .email-cPF .email--M5w .email--M5w-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .email-cPF .email--M5w .email--M5w-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .auto-group-s1f1-64D .line2-5sB .email-cPF .rectangle-6-zub {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .tn-s-kin-6Bw {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .tn-s-kin-6Bw .a-ch-nh-qvD {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .tn-s-kin-6Bw .a-ch-nh-qvD .a-ch-nh-qvD-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .tn-s-kin-6Bw .a-ch-nh-qvD .a-ch-nh-qvD-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .tn-s-kin-6Bw .rectangle-6-gR3 {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf {
  margin-right: 0.3rem;
  width: calc(100% - 0.3rem);
  height: 5.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .st-kvh {
  margin-right: 11.7rem;
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .st-kvh .ti-khon--JBX {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .st-kvh .ti-khon--JBX .ti-khon--JBX-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .st-kvh .ti-khon--JBX .ti-khon--JBX-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .st-kvh .rectangle-6-6NH {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .email-qam {
  width: 37.1rem;
  height: 100%;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .email-qam .mt-khu--zyT {
  margin-bottom: 0.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .email-qam .mt-khu--zyT .mt-khu--zyT-sub-0 {
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .email-qam .mt-khu--zyT .mt-khu--zyT-sub-1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e63636;
  font-family: Poppins, 'Source Sans Pro';
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .frame-25-M6d .line2-EBf .email-qam .rectangle-6-oR7 {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .auto-group-nxaj-YNh {
  margin-right: 66.9rem;
  width: calc(100% - 66.9rem);
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .auto-group-nxaj-YNh .to-5tR {
  margin-right: 7.9rem;
  width: 5.7rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409fc7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.to-h-s-nhn-vin-1uw .frame-26-wHo .auto-group-nxaj-YNh .hy-N6q {
  width: 5.7rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
